.memory-game {
  margin-top: 120px;
  text-align: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 16px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 90px;
  height: 110px;
  perspective: 800px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  font-size: 28px;
}

.card-front {
  background: #f1ede6;
}

.card-back {
  background: var(--font-clr-pri);
  transform: rotateY(180deg);
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#heart-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}
.heart {
  position: absolute;
  top: unset;
  bottom: -2rem;
  opacity: 1;
  border-radius: 0;
  animation: rise linear forwards;
}

@keyframes rise {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

.hidden {
  opacity: 0;
  display: none !important;
}

.matched {
  animation-delay: 600ms;
  animation: matched 300ms ease-in 1;
}

@keyframes matched {
  to {
    scale: 1.2;
  }
}
