@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Grand+Hotel&family=Pacifico&display=swap");
/* Pacifico Grand Hotel Dyna Puff */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --numeric-font: "DynaPuff";
  --normal-font: "Pacifico";
  --font-clr-pri: hsl(353, 87%, 58%);
}

* {
  font-family: var(--normal-font);
  color: var(--font-clr-pri);
}

body {
  /* min-height: 200vh; */
  min-width: 100vw;
}

.calendar-cont,
.content {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1rem;
  border: 10px solid var(--font-clr-pri);
}

.calendar-cont {
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  grid-template-areas: "feb5 feb6 feb6 feb7" "feb8 feb8 feb9 feb10" "feb11 feb12 feb12 feb13" "feb14 feb14 feb14 feb14";
  gap: 0.5rem;
}

.calendar-cont .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  outline: 5px solid var(--font-clr-pri);
  transition-duration: 300ms;

  &.last-box {
    .white-heart {
      display: none;
    }
    flex-direction: row;
    gap: 1rem;
  }
  span:first-child {
    font-family: var(--numeric-font);
  }

  &.open:hover {
    background: var(--font-clr-pri);
    * {
      color: white;
    }
  }

  &.last-box.open:hover {
    img {
      display: none;
    }
    img.white-heart {
      display: block;
    }
  }
}

.calendar-cont .box {
  overflow: hidden;
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 0.4;
    transition-duration: 300ms;
  }
  img.img-lock,
  img.img-unlock {
    height: 75%;
    position: absolute;
    opacity: 1;
    transition-duration: 300ms;
  }
}

.calendar-cont .box {
  &:nth-child(1) {
    .overlay {
      border-top-left-radius: 0.4rem;
    }
  }
  &:nth-child(3) {
    .overlay {
      border-top-right-radius: 0.4rem;
    }
  }
  &:nth-child(10) {
    .overlay {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
  }
}

/* Feb 5 Intro and why i love u */
.content.feb-5 {
  padding: 1rem;

  #click-me {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition-duration: 300ms;
  }

  .hidden-box {
    * {
      display: none;
    }
    display: none;
  }
}

button.next {
  transform: rotate(180deg);
}
